<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Message</title>
</head>
<body>
<a href="/add"> Add a Message</a><br />
<table>
    <tr>
        <th>Id</th>
        <th>Title</th>
        <th>Content</th>
        <th>PostedDate</th>
        <td>PostedBy</td>
    </tr>
    <tr th:each="message: ${messages}">
        <td th:text="${message.title}"></td>
        <td th:text="${message.content}"></td>
        <td th:text="${message.postedDate}"></td>
        <td th:text="${message.postedBy}"></td>
        <td>

            <a th:href="@{/update/{id}(id=${message.id})}">Update</a>-
            <a th:href="@{/detail/{id}(id=${message.id})}">Detail</a>-
            <a th:href="@{/delete/{id}(id=${message.id})}">Delete</a>-
        </td></tr>
</table>
</body>
</html>