<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Message</title>
</head>
<body>
<a href="/">Show all Message</a><br />
ID :<span th:text="${message.id}"></span><br />
Title :<span th:text="${message.title}"></span><br />
Content :<span th:text="${message.content}"></span><br />
 PostedDate :<p th:text="${message.postedDate}"><p>
    PostedBy :<span th:text="${message. postedBy}"></span><br />
    <a th:href="@{/delete/{id}(id=${message.id})}">Delete this message</a>
</body>
</html>